# Python
birds_api/venv/
__pycache__/
*.py[cod]
birds_api/config.py
.venv/

# Node.js
birds-app/node_modules/
birds-app/build/
birds-app/.env

# Environnement
.DS_Store
.vscode/
~$apport.docx
~WRL1243.tmp

 
# Flask / SQLite
*.db
instance/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?