# Python
birds_api/venv/
__pycache__/
*.py[cod]
birds_api/config.py
.venv/

# Node.js
birds-app/node_modules/
birds-app/build/
birds-app/.env

# Environnement
.DS_Store
.vscode/

 
# Flask / SQLite
*.db
instance/
 
# Node / Vite
node_modules/
dist/
 
# Logs
*.log